body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: white;
  background: linear-gradient(180deg, #000000, #4d0000); /* black to deep red */
  height: 100%;
  overflow-x: hidden;
}


.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-repeat: no-repeat;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 120px;
}

.top-icons {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 15px; /* space between icons */
  z-index: 999; /* ensures it's on top of other elements */
}

.top-icons .icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}


.card {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 30px;
  border-radius: 20px;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.card .highlight {
  color: red;
}

.calendar img {
  width: 100%;
  max-width: 500px;
  margin-top: 20px;
  border-radius: 10px;
}

footer {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
}

footer img {
  width: 16px;
  vertical-align: middle;
  margin-right: 5px;
}
