body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(120deg, #1a0000, #330000);
  color: white;
}

.container {
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  width: 40px;
  height: 40px;
  margin: 10px;
}

.back-icon {
  width: 45px;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 10px;
  font-weight: bold;
  color: #09e438;
}

.top-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
  flex-wrap: wrap;
}

.red-button {
  background-color: #a30000;
  color: white;
  padding: 10px 15px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s;
}

.red-button:hover {
  background-color: #d10000;
}

.calendar-button::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

.report-table {
  overflow-x: auto;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  padding: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  color: white;
  background-color: #111;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #333;
}

th {
  background-color: #a30000;
  color: white;
}

.highlight-row:hover {
  background-color: rgba(255, 255, 255, 0.05);
  cursor: pointer;
}

.popup {
  display: none;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  background-color: #1a1a1a;
  color: white;
  border: 1px solid #444;
  padding: 20px;
  z-index: 1000;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
}

.popup button {
  margin: 5px;
  padding: 8px 12px;
  background-color: crimson;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.popup button:hover {
  background-color: #d10000;
}

.overlay {
  display: none;
  position: fixed;
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0;
  background: rgba(0,0,0,0.5);
  z-index: 999;
}

.calendar-section {
      text-align: center;
      margin-bottom: 30px;
    }

    #queueDate {
      padding: 12px 20px;
      border-radius: 10px;
      border: none;
      font-size: 16px;
      background-color: #a30000;
      color: white;
      font-weight: bold;
      cursor: pointer;
    }

    #queueDate:hover {
      background-color: #d10000;
    }