/* reservedplace.css */

body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: white;
  background: linear-gradient(180deg, #000000, #4d0000); /* black to deep red */
  height: 100%;
  overflow-x: hidden;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.page::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
}

main, footer {
  position: relative;
  z-index: 2;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  width: 120px;
}


.home-link {
  top: 1rem;
  right: 1rem;
  z-index: 1000;
}
.home-icon {
  width: 40px;
  height: auto;
  cursor: pointer;
}


.card {
  margin: 40px auto;
  padding: 40px 30px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  max-width: 500px;
  text-align: center;
}

.card h2 {
  font-size: 1.1rem;
  margin-bottom: 25px;
  font-weight: normal;
}

.card p {
  margin: 10px 0 20px;
  font-weight: bold;
}

.red-date {
  color: red;
  font-weight: bold;
}

.red-text {
  color: red;
  font-weight: bold;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.button-group button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  transition: background-color 0.3s;
}

.button-group button:hover {
  background-color: darkred;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  padding: 15px 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

footer img {
  width: 16px;
  vertical-align: middle;
}